# Database

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

MONGO_DB_HOST=
MONGO_DB_PORT=
MONGO_DB_NAME=

CLICKHOUSE_DB=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=

#JWT

JWT_SECRET=